<div class="row ">
  <div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
      <div class="inner">
        <h3>10</h3>

        <p>Usuarios</p>
      </div>
      <div class="icon">
        <i class="ion ion-android-people"></i>
      </div>
    </div>
  </div>

  <div class="col-lg-3 col-6 ">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>100</h3>

        <p>Inventario</p>
      </div>
      <div class="icon">
        <i class="ion ion-pricetag"></i>
      </div>

    </div>
  </div>

  <div class="col-lg-3 col-6 ">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>50</h3>

        <p>Clientes</p>
      </div>
      <div class="icon">
        <i class="ion ion-ios-people"></i>
      </div>

    </div>
  </div>

  <div class="col-lg-3 col-6 ">
    <!-- small box -->
    <div class="small-box bg-success">
      <div class="inner">
        <h3>50</h3>

        <p>Proveedores</p>
      </div>
      <div class="icon">
        <i class="ion ion-cube"></i>
      </div>

    </div>
  </div>
</div>


